.d1{
  background-color:#E8F6EF;
  height:67.5rem;
  min-height: 67.5rem;
  min-width: 1572px;
}
hr{
  border-style: dotted;
  color: grey;
  width:6.25rem;
  height:0;
  border-top: 0;
  margin: 3.125rem auto 3.125rem auto;
  border-width: .625rem;

}

.d2{
  position: absolute;
  left:30%;
  right:25%;
}
.web{
    color:#9B72AA;
  text-align: center;
}
p{
  font-size: 1.875rem;

  font-weight: bold;
}
.d3{

  margin: .625rem;
  text-align: center;
  background-color: lightblue;
  height:6.25rem;
}
.tele{
  position: relative;
  top: 1.875rem;
  left: auto;
  bottom: 1.25rem;
  right:auto;
}
.Email{
  position: relative;
  top: 1.875rem;
  left: auto;
  bottom: 1.25rem;
  right:auto;

}
.b1{
  text-align: left;
  background-color: #BEAEE2;
}
.intro{
  margin-top: .3125rem;
  text-align: center;

}
h3{
  font-size: 50px;
  color: #9B72AA;
}
.s1{
  line-height: 2;
  text-align:left;
  width: 50%;
  margin: 100px auto 100px auto;
}
a{

  margin-top: .625rem;
  margin-bottom: .625rem;
  margin: 1.5625rem;
  font-size: 1.875rem;
  color: purple;
}
a:hover{
  color: gold;
}
.s2{
  line-height: 2;
  text-align: left;
  width:50%;
  margin: 100px auto 100px auto;

}
body{

  font-family: 'Merriweather', serif;

}
.book{
  width:31.25rem;
}
.skill{
  text-align: left;
  width: 50%;
}
h1{
  color:#9B72AA;
    text-align: center;
  font-family: 'Sacramento', cursive;
    font-size: 9.375rem;
    padding: 5% 5% 0 5%;
    margin-bottom: 0;
    margin-top: 0;
}
.c{
  position: absolute;
  top:2%;
}
.cloud{
position: absolute;
top:10%;
left: 112.5rem;
}
.btn {
  background: #0b171f;
  background-image: -webkit-linear-gradient(top, #0b171f, #243540);
  background-image: -moz-linear-gradient(top, #0b171f, #243540);
  background-image: -ms-linear-gradient(top, #0b171f, #243540);
  background-image: -o-linear-gradient(top, #0b171f, #243540);
  background-image: linear-gradient(to bottom, #0b171f, #243540);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Georgia;
  color: #9B72AA;
  font-size: 26px;
  padding: 10px 20px 10px 20px;
  border: solid #d6e3eb 2px;
  text-decoration: none;

}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}
